<h1>Welcome to home page</h1></br>
<% if user_signed_in? %>
     click on Add Book button to post book
      <%= link_to "Add Book", new_book_path %></br>
<% end %>
	click on All Books button to view all the book posted!
	<%= link_to "All Books", books_path %>



</br>
</br>
</br>

<button type="button" onclick="myFunction()">
Click me to display Date and Time.</button>
<p id='demo'></p>
</br>
</br>
<p>this calculator work with javascript</p>
<input type="text" id="val1" placeholder="enter first integer"></input></br>
<input type="text" id="val2" placeholder="enter second integer"></input></br>
<button type="button" onclick="addFunction()">To Sum</button>
<button type="button" onclick="subFunction()">To subs</button>
<button type="button" onclick="mulFunction()">To multi</button>
<button type="button" onclick="divFunction()">To divide</button></br>
<p id='res'></p></br>


<p>this calculator work with coffeeScript</p>
<input type="text" id="val1" placeholder="enter first integer"></input></br>
<input type="text" id="val2" placeholder="enter second integer"></input></br>
<button type="button" onclick="addFunctions()">To Sum</button>
<button type="button" onclick="subFunctions()">To subs</button>
<button type="button" onclick="mulFunctions()">To multi</button>
<button type="button" onclick="divFunctions()">To divide</button></br>
<p id='res1'></p></br>






